{% include "./partials/header.html" %}
<main>
  <br>
    <div class="card" id="index-card">
      <div class="card-content grey-text text-darken-1">
        <h2 id="index-text" class="headline">Welcome to BioNetworkViewer</h2>
        <p id="index-text" class="caption"> Upload a network, and pick your network format to start your visualization </p>

        <form method="POST" class="post-form" id="index-form" enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <button type="submit" id="index-btn" class="save btn btn-default blue darken-2">Start Visualizing</button>
        </form>
    </div>
  </div>

</main>
{% include "./partials/footer.html" %}
