{% include "./partials/header.html" %}
<main>
  <br>
<div class="row" >
    <div class="col l8 offset-l2 col m10 offset-m1 welcometext" id="indexContent">
        <div class="card">
            <div class="card-content grey-text text-darken-1">
                <h2 style="text-align: center; margin-bottom: 30px;" class="headline">Welcome to BioNetworkViewer</h2>
                <p style="text-align: center; " class="caption"> Upload a network to start your visualization </p>
                <br><br>

                  <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div style="text-align:center">
                    {{form}}
                    <!-- <input type="file" name="myfile" /> -->
                    </div>
                    <div style="text-align:center; margin-top: 10px;">
                      <button type="submit" class="save btn btn-default cyan darken-3">Save</button>
                    </div>
                  </form>

            </div>
        </div>
    </div>
</div>


</main>
{% include "./partials/footer.html" %}
