{% include "./partials/header.html" %}
<main>
  <div id="nw-left-panel">
    <h5 id="nw-network" class="headline">Network: </h5>
    <!-- <span ><strong id="nw-network">Network: </strong></span> -->
    <p id="nw-name" class="headline">{{inputFile}}</p>
    <h5 id="nw-prop" class="headline">Network Properties:</h5>
    <p >
      {% if connectedComponents != 0.00 %}
      <span class="small-spacer"><strong>Connected Components: {{connectedComponents}}</strong></span><br>
      {% endif %}
      {% if stronglyConnectedomponents != 0.00 %}
      <span class="small-spacer"><strong>Strongly Connected Components: {{stronglyConnectedomponents}}</strong></span><br>
      {% endif %}
      {% if diameter != '0.00' %}
      <span class="small-spacer"><strong>Diameter: {{diameter}}</strong></span><br>
      {% endif %}
      {% if clustering != '0.00' %}
      <span class="small-spacer"><strong>Clustering Coefficient: {{clustering}}</strong></span><br>
      {% endif %}
      {% if cliques != '0.00' %}
      <span class="small-spacer"><strong>Cliques: {{cliques}}</strong></span><br>
      {% endif %}
      {% if degree != '0.00' %}
      <span class="small-spacer"><strong>Average Degree: {{degree}}</strong></span><br>
      {% endif %}
    </p>

      <form method="post" action="{% url 'download' %}">
        {% csrf_token %}
        <input type="hidden" name="file" value="{{ inputFile }}">
        <button id="download-html" type="submit"  name = "downloadBtn" class="save btn btn-default blue darken-4">Download HTML</button>
      </form>
      <form method="post" action="{% url 'downloadPng' %}">
        {% csrf_token %}
        <input type="hidden" name="file" value="{{ inputFile }}">
        <button id="download-png" type="submit" name = "downloadBtn" class="save btn btn-default blue darken-4">Download PNG</button>
      </form>
</div>
  <div id="nw-right-panel">
    {% include htmlFile %}
  </div>
</main>
{% include "./partials/footer.html" %}
