body {
    font-family: 'Metrophobic', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav .brand-logo {
    margin-left: 20px;
}

main {
    flex: 1 0 auto;
}

#id_inputFormat{
  width:100%;
  display: inline;
  margin-bottom: 30px;
  color: black;
  border-color: darkgray;
}

#id_docfile{
  margin-bottom: 20px;
  margin-top: 40px;
  width:100%;
}

#index-card{
  width: 50%;
  margin-top:70px;
  margin-left:25%;
}

#index-text{
  text-align: center;
  margin-bottom: 30px;
}

#index-form{
  text-align:left;
  margin-left:34%;
  width:30%;
}
#index-btn{
  text-align:center;
  margin-top: 30px;
  margin-bottom:30px;
  width:100%;
}

.spacer{
  margin-left:20px;
}

.small-spacer{
  margin-left:10px;
}

#nw-left-panel{
  width:12%;
  height:90vh;
  float:left;
}
#nw-name{
  margin-left:10px;
  margin-top:20px
}
#nw-prop{
  margin-left:10px;
  margin-top:40px;
  margin-bottom:0px;
}

#download-html{
  margin-left:10px;
  margin-top:40px;
  margin-bottom:0px;
  width:85%
}

#download-png{
  margin-left:10px;
  margin-top:5px;
  margin-bottom:0px;
  width:85%
}

#nw-right-panel{
  width:88%;
  height:90vh;
  float:right
}
