body {
    font-family: 'Metrophobic', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav .brand-logo {
    margin-left: 20px;
}

main {
    flex: 1 0 auto;
}

#id_inputFormat{
  width:100%;
  display: inline;
  margin-left: 10px;
  margin-bottom: 30px;
}

#id_docfile{
  margin-bottom: 20px;
}

#FileField {
    width:250px;
    margin-right:85px;
    padding: 6px;
    font-size: 13px;
    background: #fff url('bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333;
    border-radius: 4px 4px 4px 4px !important;
}

#menubar {
        /* text-align: center; */
        margin-left:15px;
  }

.section {
    text-align: left;
}

.select{
  width:100px!important;
}

#footer {
    /* border-top: 1px solid #d1d1d1; */
    /* height:20px; */
}

#example-form {
    display: inline;
}
